<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <configSections>
      <section name="ConsoleApplication"
          type="System.Workflow.Runtime.Configuration.WorkflowRuntimeSection, 
        System.Workflow.Runtime, Version=3.0.00000.0, Culture=neutral, 
        PublicKeyToken=31bf3856ad364e35" />
   </configSections>
   <ConsoleApplication Name="WorkflowConsoleApplication1">
      <CommonParameters>
         <add name="ConnectionString" value="Initial Catalog=WFTrackingStore; Data Source=.; Integrated Security=SSPI;" />
      </CommonParameters>
      <Services>
         <add type="System.Workflow.Runtime.Hosting.DefaultWorkflowSchedulerService,
                System.Workflow.Runtime,
                Version=3.0.00000.0, Culture=neutral,
                PublicKeyToken=31bf3856ad364e35" />
         <add type="System.Workflow.Runtime.Hosting.SharedConnectionWorkflowCommitWorkBatchService,
                  System.Workflow.Runtime, 
			            Version=3.0.00000.0, Culture=neutral,
                  PublicKeyToken=31bf3856ad364e35" />
         <add type="System.Workflow.Runtime.Hosting.SqlWorkflowPersistenceService,
                  System.Workflow.Runtime, 
			            Version=3.0.00000.0, Culture=neutral,
                  PublicKeyToken=31bf3856ad364e35" />
         <add type="System.Workflow.Runtime.Tracking.SqlTrackingService,
                  System.Workflow.Runtime, 
			            Version=3.0.00000.0, Culture=neutral,
                  PublicKeyToken=31bf3856ad364e35" 
                ConnectionString = "Initial Catalog=WFTrackingStore; Data Source=.; Integrated Security=SSPI;"
                UseDefaultProfile = "true"
                IsTransactional = "true"
                ProfileChangeCheckInterval = "60000"
                PartitionOnCompletion = "false"
                UnloadOnIdle="true"
              />
           <add type="Winterdom.Workflow.Activities.Msmq.NullMsmqSubscriptionPersistenceService,
               Winterdom.Workflow.Activities.Msmq, Version=1.1.0.0, 
               Culture=neutral, PublicKeyToken=null"
           />
         <!--
         <add type="Winterdom.Workflow.Activities.Msmq.SqlMsmqSubscriptionPersistenceService,
               Winterdom.Workflow.Activities.Msmq, Version=1.1.0.0, 
               Culture=neutral, PublicKeyToken=null"
           ConnectionString="Initial Catalog=WFTrackingStore; Data Source=.\sqlexpress; Integrated Security=SSPI;"
           />
         -->

           <add type="Winterdom.Workflow.Activities.Msmq.MsmqListenerService,
               Winterdom.Workflow.Activities.Msmq, Version=1.1.0.0, 
               Culture=neutral, PublicKeyToken=null"
           hostname="TestApp"
           />
      </Services>
   </ConsoleApplication>
   <system.diagnostics>
      <switches>
         <add name="MsmqActivitiesSwitch" value="Verbose" />
      </switches>
   </system.diagnostics>
</configuration>
